<div class="container">
  {{#link-to "csp-reports" class="nav-back"}}
    <i class="fa fa-arrow-left"></i>
    <span>Back</span>
  {{/link-to}}

  <h3 class="site-name">{{model.name}} <span class="nav-back">({{model.url}})</span></h3>

  <ul class="nav nav--tabs report-tabs">
    {{#link-to "domain.reports-table" class="navbar__item" tagName="li"}}
      <a href="#" class="navbar__link">
        <i class="sci sci__view-list"></i>
        Table
      </a>
    {{/link-to}}
    {{#link-to "domain.reports-graph" class="navbar__item" tagName="li"}}
      <a class="navbar__link">
        <i class="sci sci__view--graph"></i>
        Graph
      </a>
    {{/link-to}}
    {{#link-to "domain.viewers" class="navbar__item" tagName="li"}}
      <a class="navbar__link">
        <i class="sci sci__view--list"></i>
        Viewers
      </a>
    {{/link-to}}
  </ul>

  <div class="report">
    {{ outlet }}
  </div>
</div>
