{{#conditional-loading-spinner condition=loading}}
  {{#if isOwn}}
    <div class="mb">
      {{view "select2" content=model.candidateViewers optionValuePath="content.id" optionLabelPath="content.username" selection=selectedViewer}}
      {{d-button action="addViewer" icon="plus" label="domain.add_viewer" class="btn--primary vertical-align--middle"}}
    </div>
  {{/if}}

  {{#each viewer in model.viewers itemController="viewer"}}
    <p>
      {{#link-to "user" viewer.model.username}}{{viewer.model.username}}{{/link-to}}
      {{#if isOwn}}
        {{d-button action="destroy" icon="trash-o"}}
      {{/if}}
    </p>
  {{/each}}
{{/conditional-loading-spinner}}
