{{#if model.isOwn}}
  <div class="mb">
    {{view "select" content=model.candidateViewers optionValuePath="content.id" optionLabelPath="content.username" selectionBinding=selectedViewer}}
    {{d-button action="addViewer" icon="plus" label="domain.add_viewer" class="btn--primary"}}
  </div>
{{/if}}

{{#each viewer in model.viewers itemController="viewer"}}
  <p>
    {{#link-to "user" viewer.model.username}}{{viewer.model.username}}{{/link-to}}
    {{#if model.isOwn}}
      {{d-button action="destroy" icon="trash-o"}}
    {{/if}}
  </p>
{{/each}}
