.csp-reports {
  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }
}

.domain-form {
  .fa {
    vertical-align: baseline;
  }

  input[type="text"].control--text {
    padding: 0.6em 1.2em;
    border: 1px solid #dadcdf;
    height: 2.5em;
  }
}

.site-name {
  margin: 30px 10px 50px 0;
  line-height: normal;
  border-bottom: 2px solid;
  font-size: 30px;
  text-transform: uppercase;

  span {
    vertical-align: middle;
    text-transform: none;
  }
}

.table-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.table-filters {
  margin: 0 0 15px;
}

.nav--tabs.report-tabs {
  margin-bottom: 20px;
  padding: 0;
}

.report {
  margin-bottom: 50px;
}

.domains-list-table {
  width: auto;

  thead {
    margin-bottom: 0;
    border-bottom: 2px solid #0082ba;
    text-align: left;
    line-height: 30px;
    font-weight: bold;
  }

  tr {
    border-bottom: 1px solid #c0ddec;
  }

  td {
    padding: 5px;
  }
}

.report-table {
  table-layout: fixed;

  thead {
    background: #b2b2b2;
  }

  th {
    border-bottom: 0;
    text-align: left;
  }

  tbody {
    &:nth-child(odd) {
      background: #b2b2b2;
    }

    &:nth-child(even) {
      background: #e2e3e4;
    }
  }
}

.uri-col {
  max-width: 230px;
}
